@import url('https://fonts.googleapis.com/css?family=Jockey+One|Kelly+Slab|Lekton:400,400i,700|Orbitron:400,500,700,900|Rajdhani:300,400,500,600,700&display=swap');

body {
  border: unset;
  margin: unset;
  background: black;
  line-height: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 53px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

section {
  min-height: 50vh;
  padding: 1rem;
  background: url(https://www.anthropic.tech/robots/noise.png);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 53px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-top: 2px solid white;
}

table {}

th {
  border-left: 2px solid white;
  padding: 4px 1rem;
}

th:nth-child(1) {
  border: none;
}

tr {}

td {
  text-align: center;
}

hr {
  width: 20%;
  margin-right: 80%;
  border: none;
  height: 2px;
  background: white;
  margin-top: 16px;
  margin-bottom: 16px;
}

h1, h2, h3, h4, h5, p, a {
  margin: unset;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h1, h2 {
  font-family: 'Rajdhani', sans-serif;
}

h3, h4 {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.5;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.raj {
  font-family: 'Rajdhani', sans-serif;
}

.bold {
  font-weight: 800;
}

.lite {
  font-weight: 100;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.white {
  color: white;
}

.leftpad {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.tcenter {
  text-align: center;
}

.button {
  color: white;
  border: 2px solid white;
  background-color: black;
  border-radius: 4px;
  padding: 1rem;
  transition: background-color 200ms, color 200ms, border 200ms ease;
}

.button:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 1rem;
}

.close {
  padding-top: 4px;
  display: none;
}

.leftline {
  border-left: 2px solid white;
}

.no-marg {
  margin: unset;
  line-height: 1;
}

.black {
  color: black;
}

.b-black {
  background-color: black;
}

.stretch {
  letter-spacing: inherit;
  transition: letter-spacing 500ms ease;
}

.stretch:hover {
  letter-spacing: 1px;
}

.black-shadow {
  box-shadow: 4px 4px black;
}

.product-image {
  width: auto;
}

.slide1 {
  max-width: 800px;
  margin: auto;
}

.slide3 {
  max-width: 800px;
  margin: auto;
  padding-top: 2rem;
}

.slide2 {
  margin: auto;
}

.yellow-backing {
  background-color: yellow;
  margin: -1rem;
  padding: 1rem;
}

.blue-backing {
  background-color: blue;
  margin: -1rem;
  padding: 1rem;
}

.blue-backing {
  background-color: blue;
  margin: -1rem;
  padding: 1rem;
}

.black-backing {
  background-color: black;
  margin: -1rem;
  padding: 1rem;
}

.dots {
  background-image: url(https://www.pointblank.company/dot.png);
}

.hero {
  height: 100vh;
  background-image: url(atom.gif);
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.showcase {
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.show-row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  max-width: 530px;
}

.show-row-mid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  max-width: 800px;
}

.show-row-lg {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  max-width: 930px;
}

.show-row-wide {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.product {
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  height: 200px;
  width: 200px;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 4px 4px yellow;
}

.product-lg {
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  height: 200px;
  width: 200px;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 4px 4px yellow;
}

.featured {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.flex-start {
  justify-content: flex-start;
}

.specs-wrap {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 1rem;
  margin-left: 1rem;
  border-left: 2px solid white;
}

.specs-title {
  display: none;
}

.specs {}

.product:hover {
  padding: 1rem;
  margin: 0rem;
  border: 1rem solid blue;
  height: 200px;
  width: 200px;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0px 0px yellow;
}

.product-lg:hover {
  padding: 1rem;
  margin: 0rem;
  border: 1rem solid blue;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0px 0px yellow;
}

.menu-wrap {
  margin-right: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.logo-li {
  margin: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 20px;
  width: 24px;
  padding-top: 4px;
  border: 2px solid white;
  transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
}

.logo-li-lg {
  margin-bottom: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 226px;
  width: 256px;
  padding-top: 30px;
  border: 16px solid white;
  transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
}

.li-bg {
  font-weight: 800;
  text-align: center;
  margin: unset;
  font-size: 128px;
}

.hero-title {
  font-size: 56px;
  line-height: 0.5;
}

.hero-mini {
  background-color: blue;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: normal;
}

.hero-micro {
  min-height: 25vh !important;
  padding-top: 2rem;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: normal;
}

.logo-li p {
  transition: color 1000ms ease;
}

.logo-li:hover p {
  color: yellow;
}

.logo-li:hover {
  box-shadow: 0px 0px 0px 2px yellow;
  border-left-color: blue;
  border-bottom-color: blue;
  border-right-color: blue;
  border-top-color: blue;
}

.logo {
  padding-left: 16px;
}

.title {
  font-size: 128px
}

.ham {
  display: none;
  height: 64px;
  width: 64px;
}

.menu {
  padding-right: 8px;
  display: flex;
  flex-flow: row;
}

.m-i {
  padding: 0px 8px 0px 8px;
  transition: filter 200ms, box-shadow 500ms ease;
}

.m-i p {
  transition: color 200ms, box-shadow 500ms ease;
  margin: 8px 0px 4px 0px;
}

.m-i:hover p {
  box-shadow: 0px 4px yellow;
  color: yellow;
}

.foot-wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.right {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.left {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.descimg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: white;
  width: 128px;
  height: 128px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.descimg img {
  width: 120px;
  padding: 4px;
}

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: yellow;
}

.legal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 2rem;
}

.legal p {
  margin-top: 8px;
}

@media screen and (min-width:900px) {
  #menu {
    display: flex !important;
    flex-flow: row;
  }
}

@media screen and (max-width:900px) {
  header {
    max-height: 100px;
  }

  .descimg {
    width: 76px;
    height: 76px;
  }

  .descimg img {
    width: 60px;
    padding: 7px;
  }

  h1 {
    font-size: 32px;
  }

  .title {
    font-size: 64px
  }

  .row {
    justify-content: center;
    flex-flow: wrap;
  }

  .showcase {
    border: 0px solid transparent;
  }

  .product {
    width: auto;
    min-width: 60vw;
  }

  .product-lg {
    width: auto;
    min-width: 60vw;
  }

  .ham {
    display: flex;
  }

  .close {
    padding-top: 0.5rem;
    color: indianred;
    display: block;
    border-bottom-width: 0px;
    transition: border-bottom-width 200ms ease;
  }

  .close:hover {
    border-bottom: 4px solid indianred;
  }
  .menu-wrap{margin-right:0px;}
  .menu {
    display: none;
    overflow: hidden;
    flex-flow: column;
  }

  .m-i {
    text-align: right;
    background-color: black;
  }

  .logo-li-lg {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 108px;
    width: 128px;
    padding-top: 20px;
    border: 12px solid white;
    transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
  }

  .li-bg {
    font-weight: 800;
    text-align: center;
    margin: unset;
    font-size: 64px;
  }

  .product-image {
    width: 80vw;
  }

  .hero-title {
    font-size: 30px;
    line-height: 0.5;
  }

  .imgdesc {
    display: none;
  }

  .specs-title {
    display: block;
  }
